@using Microsoft.AspNetCore.Identity
@using MilliTakim.Areas.Identity.Data
@model IEnumerable<MilliTakim.Models.Magaza>
@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager
@{

    var magaza = ViewData["magaza"] as Magaza;
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<link href="~/css/magaza.css" rel="stylesheet" />
<script>
    function updateQuotation(id) {
        var qty = parseInt(document.getElementById("qty_" + id).value);
        var price = parseInt(document.getElementById("price_" + id).innerHTML);
        var urun_total = qty * price;
        document.getElementById("temptotal_" + id).innerHTML = urun_total + "₺";
    }

    function updateTotal() {
        var items = [];
        var total = 0;
        @foreach(var item in Model)
        {
            @:items.push("@item.urunId");
        }

        for (var i = 0; i < items.length; i++) {
            total += parseInt(document.getElementById("temptotal_" + items[i]).innerHTML);
        }
        document.getElementById("total").innerHTML = total;
        return total;
    }

    $(function () {

        $("#btn").click(function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            var price = document.getElementById("total").innerHTML;
            var items = [];
            var control = true;
            @foreach(var item in Model)
            {
                @:items.push("@item.urunId");
            }
            for (var i = 0; i < items.length; i++)
            {
                if (parseInt(document.getElementById("qty_" + items[i]).value) != 0 && document.getElementById("beden_" + items[i]).value == "")
                {
                    control = false;
                    break;
                }
            }
            if (price <= 0) {
                url = "#";
            }
            else if (control == false)
            {
                url = "#";
            }
            else {
                url = url.replace("asd", price);
            }
            window.location.href = url;
        });
    });
</script>


@if (SignInManager.IsSignedIn(User))
{
    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
    {
        <br />
        <form asp-action="MagazaUrunEkle" method="post" enctype="multipart/form-data">
            @localizer[@Html.DisplayNameFor(model => magaza.urunAdi)]
            <input asp-for="@magaza.urunAdi" class="form-control" />
            <span asp-validation-for="@magaza.urunAdi" class="text-danger"></span><br />

            @localizer[@Html.DisplayNameFor(model => magaza.fiyat)]
            <input asp-for="@magaza.fiyat" value="" class="form-control" />
            <span asp-validation-for="@magaza.fiyat" class="text-danger"></span><br />

            @localizer[@Html.DisplayNameFor(model => model.ProfilePicture)]<br />
            <img id="profilePicture" object-fit:cover" src="~/resim-yok-png-3.png" style="width:220px;height:180px;">
            <input type="file"
                   accept=".png,.jpg,.jpeg,.gif,.tif"
                   asp-for="@magaza.ProfilePicture"
                   class="form-control"
                   style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                   onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
            <span asp-validation-for="@magaza.ProfilePicture" class="text-danger"></span>
            <br />

            <button type="submit" class="btn btn-primary btn-lg btn-block">@localizer["Ekle"]</button>
        </form>
    }
}



<div class="container padding-bottom-3x mb-1">
    <br /><br /><br />
    @if (Model != null)
    {

        <div class="table-responsive shopping-cart">
            <table class="table">
                <thead>
                    <tr>
                        <th>@localizer["Ürün Adı"]</th>
                        <th class="text-center">@localizer["Adet"]</th>
                        <th class="text-center">@localizer["Fiyat"]</th>
                        <th class="text-center">@localizer["Toplam Ürün Fiyatı"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="product-item">
                                    @if (item.ProfilePicture == null)
                                    {
                                        <a class="product-thumb" href="#"><img src="~/resim-yok-png-3.png" alt="Product" style="width:220px;height:180px;"></a>
                                    }
                                    else
                                    {
                                        <a class="product-thumb" href="#"><img src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))" alt="Product" style="width:220px;height:180px;"></a>
                                    }
                                    <div class="product-info">
                                        <h4 class="product-title"><a href="#">@item.urunAdi</a></h4>
                                        <span>
                                            <em>@localizer[@Html.DisplayNameFor(model => model.beden)]:</em>
                                            <select id="beden_@item.urunId" asp-for="@item.beden" asp-items="Html.GetEnumSelectList<Magaza.Beden>()">
                                                <option selected="selected" value="">@localizer["Lütfen Bir Beden Seçiniz"]</option>
                                            </select><br />
                                            <span asp-validation-for="@item.beden" class="text-danger"></span><br />
                                        </span>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
                                            {
                                                <a asp-action="MagazaSil" asp-route-id="@item.urunId">@localizer["Sil"]</a> <br />
                                                <a asp-action="MagazaDuzenle" asp-route-id="@item.urunId">@localizer["Düzenle"]</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="count-input">
                                    <select class="form-control" id="qty_@item.urunId" onchange="updateQuotation(@item.urunId); updateTotal();">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center text-lg text-medium"><p id="price_@item.urunId">@item.fiyat₺</p></td>
                            <td class="text-center"><p id="temptotal_@item.urunId" onchange="updateQuotation(@item.urunId); updateTotal();">0</p></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="shopping-cart-footer">
            <div class="column">
            </div>
            <div class="column text-lg">@localizer["Toplam Fiyat"]: <span class="text-medium" id="total">0</span>₺</div>
        </div>
        <div class="shopping-cart-footer">
            <div class="column"><a id="btn" type="" class="btn btn-success" asp-action="MagazaSatinAl" asp-route-fiyat="asd">@localizer["Satın Al"]</a></div>
        </div>
    }

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}