@using Microsoft.AspNetCore.Identity
@using MilliTakim.Areas.Identity.Data
@model IEnumerable<MilliTakim.Models.Bilet>
@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager
@{

    var bilet = ViewData["bilet"] as Bilet;
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<link href="~/css/bilet.css" rel="stylesheet" />

@if (SignInManager.IsSignedIn(User))
{
    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
    {
<form asp-action="BiletEkle">
    @localizer[@Html.DisplayNameFor(model => bilet.macAdi)]
    <input asp-for="@bilet.macAdi" class="form-control" />
    <span asp-validation-for="@bilet.macAdi" class="text-danger"></span><br />

    @localizer[@Html.DisplayNameFor(model => bilet.macYer)]
    <input asp-for="@bilet.macYer" class="form-control" />
    <span asp-validation-for="@bilet.macYer" class="text-danger"></span><br />

    @localizer[@Html.DisplayNameFor(model => bilet.macTarihi)]
    <input asp-for="@bilet.macTarihi" asp-format="{0:dd/MM/yyyy HH:mm}" class="form-control" />
    <span asp-validation-for="@bilet.macTarihi" class="text-danger"></span><br />

    @localizer[@Html.DisplayNameFor(model => bilet.biletFiyat)]
    <input asp-for="@bilet.biletFiyat" class="form-control" value="" />
    <span asp-validation-for="@bilet.biletFiyat" class="text-danger"></span><br />

    @localizer[@Html.DisplayNameFor(model => bilet.biletAdet)]
    <input asp-for="@bilet.biletAdet" class="form-control" value="" />
    <span asp-validation-for="@bilet.biletAdet" class="text-danger"></span>
    <br />
    <button type="submit" class="btn btn-primary btn-lg btn-block">@localizer["Ekle"]</button>
</form>
    }
}



<section class="container">
    <h1>@localizer["MAÇLAR"]</h1>
    @if (Model != null)
    {
        <div class="row">
            @foreach (var item in Model)
            {

                <article class="card fl-left">
                    <section class="date">
                        <time datetime="@DateTime.Today">
                            <span>@DateTime.Today.Day</span><span>@DateTime.Now.ToString("MMMM")</span>
                        </time>
                    </section>
                    <section class="card-cont">
                        @if (DateTime.Today.Date >= item.macTarihi.Date || item.biletAdet <= 0)
                        {
                            <h3 class="ciz">@Html.DisplayFor(modelItem => item.macAdi)</h3>
                        }
                        else
                        {
                            <h3>@Html.DisplayFor(modelItem => item.macAdi)</h3>
                        }
                        <div class="even-date">
                            <i class="fa fa-calendar"></i>
                            <time>
                                <span>    @Html.DisplayFor(modelItem => item.macTarihi)</span>
                            </time>
                        </div>
                        <div class="even-info">
                            <i class="fa fa-map-marker"></i>
                            <p>
                                @Html.DisplayFor(modelItem => item.macYer)
                            </p>
                            <p>
                                @localizer["Kalan Bilet"] : @Html.DisplayFor(modelItem => item.biletAdet)
                            </p>
                        </div>
                        <br />
                        @if (DateTime.Today.Date >= item.macTarihi.Date)
                        {
                            <a style="background-color:black" href="#">@localizer["TARİHİ GEÇTİ"]</a>
                        }
                        else if (item.biletAdet <= 0)
                        {
                    <a style="background-color:gray" href="#">@localizer["TÜKENDİ"]</a>
                        }
                        else
                        {
                    <a style="background-color: #F8504C" asp-area="" asp-controller="Bilet" asp-route-id="@item.biletId" asp-action="BiletSatinAl">@localizer["SATIN AL"]</a>
                        }
                    </section>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
                        {
                            <a asp-action="BiletSil" asp-route-id="@item.biletId">@localizer["SİL"]</a> <br />
                            <a asp-action="BiletDuzenle" asp-route-id="@item.biletId">@localizer["DÜZENLE"]</a>
                        }
                    }
                </article>
            }
        </div>
    }
    else
    {
        <p>Satista Bilet Yok</p>
    }
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}