@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<link href="~/css/anasayfa.css" rel="stylesheet" />
<br /><br /><br />      
<div class="container">
    <div class="row no-gutters">
        <div class="col-xl-6 col-12 mb-5 mb-xl-0">
            <div class="media media-news">
                <div class="media-img">
                    <img src="~/ampute.jpg" alt="Generic placeholder image" style="border-radius:5px 5px">
                </div>
                <div class="media-body radius">
                    <span class="media-date">9 @localizer["Ekim"] 2017</span>
                    <h6 class="mt-0 sep">@localizer["Milli Takımımız Tarih Yazdı"]</h6>
                    <p>@localizer["Ampute Futbol Milli Takımı, EAFF Avrupa Ampute Futbol Şampiyonası final maçında İngiltere ile karşı karşıya geldi. Millilerimiz sahadan 2-1 galip ayrılarak Avrupa Şampiyonu oldu."]</p>
                    <a href="https://www.trthaber.com/haber/spor/ampute-futbol-milli-takimimiz-avrupa-sampiyonu-337118.html">@localizer["Haberin Devamını Gör"]</a>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-12">
            <div class="media media-news">
                <div class="media-img">
                    <img src="~/askerselam.jpg" alt="Generic placeholder image" style="border-radius:5px 5px">
                </div>
                <div class="media-body radius">
                    <span class="media-date">14 @localizer["Ekim"] 2019</span>
                    <h6 class="mt-0 sep">@localizer["Türklerden Asker Selamı"]</h6>
                    <p>@localizer["2020 Avrupa Futbol Şampiyonası (EURO 2020) Elemeleri H Grubu 8. hafta maçında A Milli Futbol Takımı, Fransa ile deplasmanda 1-1 berabere kaldı."]</p>
                    <a href="https://www.sabah.com.tr/galeri/spor/fransa-turkiye-maci-tarihe-gecti-a-milli-takim-ilk-kez/2">@localizer["Haberin Devamını Gör"]</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters mt-4">
        <div class="col-xl-6 col-12 mb-5 mb-xl-0">
            <div class="media media-news">
                <div class="media-img">
                    <img src="~/ranking.png" alt="Generic placeholder image" style="border-radius:5px 5px">
                </div>
                <div class="media-body radius">
                    <span class="media-date">12 @localizer["Ekim"] 2020</span>
                    <h6 class="mt-0 sep">@localizer["Fifa Dünya Sıralaması Açıklandı"]</h6>
                    <p>@localizer["Türkiye, FIFA Dünya Sıralaması'nda kaçıncı sırada? İlk 50'de hangi takımlar var? FIFA Dünya Sıralaması'nda Eylül 2020 itibarıyla son durum açıklandı. Türkiye 29. basamaktan 32. basamağa geriledi."]</p>
                    <a href="https://www.goal.com/tr/haber/fifa-duenya-siralamasi-tuerkiye-a-milli-takimi-kacinci/1nnmwjzjzhokk1d30h5zk5cnkz">@localizer["Haberin Devamını Gör"]</a>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-12">
            <div class="media media-news">
                <div class="media-img">
                    <img src="~/kura.png" alt="Generic placeholder image" style="border-radius:5px 5px">
                </div>
                <div class="media-body radius">
                    <span class="media-date">07 @localizer["Aralık"] 2020</span>
                    <h6 class="mt-0 sep">@localizer["Kuralar Çekildi"]</h6>
                    <p>@localizer["G Grubu: Hollanda, Türkiye, Norveç, Karadağ, Letonya, Cebelitarık"]</p>
                    <a href="https://tr.sputniknews.com/spor/202012071043357160-dunya-kupasi-elemelerinde-turkiyenin-rakipleri-belli-oldu/">@localizer["Haberin Devamını Gör"]</a>
</div>
            </div>
        </div>
    </div>
</div>